.DS_Store
.env
.git
.tile-state
archives
download
node_modules
output
outputs
proxy.txt
reports
tiles
workbook-build

dashboard/.next
dashboard/client/.next
dashboard/client/out
dashboard/node_modules
dashboard/src/client/dist

*.sqlite
*.tmp
